<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adarsh.lockscreen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LockScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MyAdmin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@layout/policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"></action>
            </intent-filter>
        </receiver>
        <receiver android:name=".ReceiveSMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ReceiveSMS$switchButtonListenerzero" />
        <receiver android:name=".ReceiveSMS$switchButtonListenerone" />
        <receiver android:name=".ReceiveSMS$switchButtonListenertwo" />
        <receiver android:name=".ReceiveSMS$switchButtonListenerthree" />
        <receiver android:name=".ReceiveSMS$switchButtonListenerfour" />
        <receiver android:name=".ReceiveSMS$switchButtonListenerfive" />
        <receiver android:name=".ReceiveSMS$switchButtonListenersix" />
        <receiver android:name=".ReceiveSMS$switchButtonListenerseven" />
        <receiver android:name=".ReceiveSMS$switchButtonListenereight" />
        <receiver android:name=".ReceiveSMS$switchButtonListenernine" />
        <receiver android:name=".ReceiveSMS$switchButtonListenerbackspace" />
        <receiver android:name=".ReceiveSMS$switchButtonListenersubmit" />

        <activity
            android:name=".PasswordChange"
            android:label="@string/title_activity_password_change"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>